beautifulsoup4==4.13.4
chinese_converter==1.1.1
EbookLib==0.18
ebooklib==0.19
genanki==0.13.0
genanki==0.13.1
jieba==0.42.1
pandas==2.0.0
pdfplumber==0.11.4
pdfplumber==0.11.0
pdfplumber==0.11.7
pinyin==0.4.0
pydub==0.25.1
pytest==8.3.4
pytest==8.2.0
pytest==8.4.1
